<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Redirecting...</title>
    <link rel="canonical" href="{{destination}}" />
    <meta charset="utf-8" />
    <meta http-equiv="refresh" content="0; url={{destination}}" />
  </head>
  <body>
    <p>Redirecting...</p>
  </body>
</html>
