 <div class="app-pane__side-bar">

            <nav class="app-side-nav">
            
                <h2 class="app-side-nav__heading">NHS App</h2>
                <ul class="nhsuk-list app-side-nav__list">

                  <li class="app-side-nav__item">
                    <a class="app-side-nav__link" href="/nhsapp-developer-documentation">NHS App Developer Guidance</a>
                  </li>
                </ul>

                <h2 class="app-side-nav__heading">Web Integration</h2>
                <ul class="nhsuk-list app-side-nav__list">

                  <li class="app-side-nav__item">
                    <a class="app-side-nav__link" href="/nhsapp-developer-documentation/web-integration-overview">Overview</a>
                  </li>
                  <li class="app-side-nav__item">
                    <a class="app-side-nav__link" href="/nhsapp-developer-documentation/web-integration-step-by-step">Web Integration Steps</a>
                  </li>
                  <li class="app-side-nav__item">
                    <a class="app-side-nav__link" href="/nhsapp-developer-documentation/js-api-specification">Javascript API Specification</a>
                  </li>
                </ul>

                <h2 class="app-side-nav__heading">API Integration</h2>
                <ul class="nhsuk-list app-side-nav__list">

                  <li class="app-side-nav__item">
                    <a class="app-side-nav__link" href="/nhsapp-developer-documentation/api-integration-overview">Overview</a>
                  </li>
                </ul>
            </nav>
          </div>
